#pestañas {
  	color : white;
	background-color: #101797;
	height: 50px;
	width: 200px;
	text-align: center;
}

#primer {
 	height: 200px;

}


#titulo {

margin-top: 1px;
}

#fondoblanco {
	height: 900px;
}